html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#street-view {
    height: 100%;
}
#play-box {
    width: 50%;
    height: 40%;
    background-color: rgba(74, 230, 255, 0.82);
    position: fixed;
    z-index: 5;
    margin: auto;
    margin-left: 25%;
    margin-top: 25%;
}
#play-title {
    background-image: url("../img/title.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    height:20%;

}
#play-button {
    width:50%;
    height:15%;
    margin-left:25%;
    margin-top:10%;
}
#exit-button {
    width:50%;
    height:15%;
    margin-left:25%;
    margin-top:10%;
}